body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
    padding: 30px;
    text-align: center;
}

h1 {
    color: #333;
}

.upload-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.result-box {
    background: white;
    margin: 30px auto;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
