# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Virtual environment (DO NOT PUSH)
venv/
.env/

# Audio datasets (DO NOT PUSH)
Non Speech Dataset/
*.wav
*.mp3
*.ogg
*.flac

# Large binaries
*.dll
*.exe
*.so

# Model files (optional)
*.pth
*.pt
*.h5
*.ckpt

# Editor
.vscode/
.DS_Store
