/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/auth.json
/.fleet
/.idea
/.nova
/.zed
.qodo
clinerules.md
cline-rules.md
cursorrules.mdc
CLAUDE.md

check_port.sh
verify_arduino_writer.sh
