@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-gradient {
  background: linear-gradient(195deg, #E94C1D 0%, #D70075 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary-gradient-transparent {
  background: linear-gradient(195deg, rgba(244, 166, 140, 0.9) 0%, rgba(235, 130, 179, 0.9) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.primary-gradient-transparent::after {
  content: "";
  background: linear-gradient(195deg, rgba(244, 166, 140, 0.9) 0%, rgba(235, 130, 179, 0.9) 100%);
}

.primary-gradient::after {
  content: "";
  background: linear-gradient(195deg, #E94C1D 0%, #D70075 100%);
}